<!--Footer-->
<footer class="footer-arriba  bg-dark">
    <div class="row">
        <div class="footer-content col-sm">
            <a href="">
                <h3>Contacto:</h3>
            </a>
            <ul>
                <p>contacto@jardineando.cl</p>
                <p>+56 9 0000 0000</p>
            </ul>
            <p class="falso">No existen estos datos, no intente contactar.</p>
        </div>
        <div class="footer-content col-sm">
            <a href="#">

                <h3>Servicio al cliente</h3>
            </a>
            <ul>
                <a href="#">
                    <p>Términos y condiciones</p>
                </a>
                <a href="#">
                    <p>Orden de servicio</p>
                </a>
                <a href="#">
                    <p>Representante legal</p>
                </a>
                <a href="#">
                    <p>Bases y promociones</p>
                </a>
            </ul>
        </div>
    </div>
</footer>
<!--/.Footer-->