html {
    background-color: 33, 37, 41;
    overflow-x: hidden;
}


.contenido-jardin p {
    margin-left: 20%;

    margin-right: 20%;
}

.carousel-inner img {
    margin: auto;
}

.carousel .slide .c {
    margin: auto;
}

.icono {
    height: 50px;
    -webkit-transition: 500ms linear all;
    transform: rotate(0deg);
    transition: 500ms linear all;
}

.icono:hover {
    filter: invert();

    scale: 1.05;
    transform: rotate(180deg);
    transition: 500ms linear all;
}


.nav-link:hover {
    background: #212529;
    color: #212529;
    border-radius: 24%;
}

.carrito {
    margin: 40%;
}

.btn-add-cart button  {
    float: left;
    margin-top: 1%;
    margin-left: 1%;
    border: rgb(13, 255, 0);
}

.carousel-control-next-icon {
    color: black;
}

.footer-content h3 {
    color: #ccc;
}

.footer-content a {
    color: #ccc;
    text-decoration: none;
}

.footer-content h3:hover {
    color: #ccc;
    opacity: 0.2;
}

.footer-arriba p {
    color: #fff;
}

.falso {
    color: #fff;
    opacity: 0.2;
}

.footer-content {
    border-right-color: #ccc;
    border-left: 40px;
}

.pheading {
    text-align: center;
    margin: 50px 0;
    color: #424144;
}

/*Productos*/


.sec {
    padding: 10px 5%;

}

.productos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));

}

.productos .tarjeta {
    width: 312px;
    background: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 6px;
    margin-bottom: 20px;
    align-items: center;
}

.productos .tarjeta img {
    height: 300px;
    width: 100%;

}

.productos .tarjeta .desc {
    padding: 5px 20px;
    opacity: 0.4;
}

.productos .tarjeta .titulo {
    font-weight: 900;
    font-size: 20px;
    color: #424144;
    padding: 0 20px;

}

.productos .tarjeta .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.productos .tarjeta .box .precio {
    color: #537b4f;
    font-size: 20px;
    font-weight: bold;
}

.productos .tarjeta .box .btn-add-cart {
    font-size: 13px;
    color: #537b4f;
    background-color: #fff;
    padding: 10px 18px;
    font-weight: 900;
    border: 1px solid #537b4f;
    border-radius: 20px;
}

.productos .tarjeta .box .btn-add-cart:hover {
    cursor: pointer;
    background-color: #537b4f;
    color: white;
}

/*carrito de compras*/

.item-carrito {
    display: list-item;

}

.item-carrito .compra {
    width: 100%;
    background: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 6px;
    margin-bottom: 20px;
    align-items: center;
}

.item-carrito .compra img {
    height: 100px;
    width: 100px;

}

.item-carrito .compra .desc {
    padding: 5px 20px;
    opacity: 0.4;
}

.item-carrito .compra .titulo {
    font-weight: 900;
    font-size: 20px;
    color: #424144;
    padding: 0 20px;

}

.item-carrito .compra .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.item-carrito .compra .box .precio {
    color: #537b4f;
    font-size: 20px;
    font-weight: bold;
}

.item-carrito .botones .btn-eliminar {
    font-size: 13px;
    color: red;
    padding: 10px 18px;
    font-weight: 900;
    border: 1px solid red;
    border-radius: 20px;
}

.eliminar {
    margin-left: 89%;
    margin-bottom: 15%;
}

.sumador {

    margin-left: 67%;
    margin-bottom: 2%;
}

.item-carrito .botones .btn-eliminar:hover {
    cursor: pointer;
    background-color: red;
    color: white;
}

.item-carrito .botones .sumador-btn {
    display: none;
    font-size: 13px;
    color: mediumblue;
    padding: 10px 18px;
    font-weight: 900;
    border: 1px solid mediumblue;

}

.item-carrito .botones .mas {
    border-radius: 0 20px 20px 0;

}

.item-carrito .botones .menos {
    border-radius: 20px 0 0 20px
}

.item-carrito .botones .sumador-btn:hover {
    cursor: pointer;
    background-color: mediumblue;
    color: white;
}
.lista{
    margin-left: 12%;
}
.sesion{
    float: left;
}
#btn-sesion{
    color: #537b4f;

    border-color: #537b4f;
}
#btn-sesion:hover{
    color: #212529;
    background-color: #537b4f;
    border-color: #537b4f;
}

#log-in a{
    color: #537b4f;
    text-decoration: none;
}
#log-in .btn{
    color: white;
    width: 200px;
    border-radius: 0 0 0 0;
    background-color:#537b4f;
    border-color: #537b4f;
    border-style: none;
}
#log-in input{
    width: 300px;
    height: 45px;
}
.separador {
    height: 16px; /* Nuevo alto de la imagen */
    background-image: url(../img/icono-mini-gris.png); /* Ruta de la imagen */
    background-repeat: repeat-x; /* Repetir la imagen horizontalmente */
    background-size: 16px 16px; /* Nuevo tamaño de la imagen */
  }

.formulario-log-in form{
    padding: 10%;
    background-color: white;

}

.contenedor-formulario{
    background-color: #212529;
}

.warnings{
    width: 200px;
    text-align: center;
    margin: auto;
    color: red;
    padding-top: 20px;
}
