html {
    background-color: 33, 37, 41;
    overflow-x: hidden;
}


.contenido-jardin p {
    margin-left: 20%;

    margin-right: 20%;
}

.carousel-inner img {
    margin: auto;
}

.carousel .slide .c {
    margin: auto;
}

.icono {
    height: 50px;
    -webkit-transition: 500ms linear all;
    transform: rotate(0deg);
    transition: 500ms linear all;
}

.icono:hover {
    filter: invert();

    scale: 1.05;
    transform: rotate(180deg);
    transition: 500ms linear all;
}


.nav-link:hover {
    background: #212529;
    color: #212529;
    border-radius: 24%;
}

.carrito {
    margin: 40%;
}

.btn-add-cart button {
    float: left;
    margin-top: 1%;
    margin-left: 1%;
    border: rgb(13, 255, 0);
}

.carousel-control-next-icon {
    color: black;
}

.footer-content h3 {
    color: #ccc;
}

.footer-content a {
    color: #ccc;
    text-decoration: none;
}

.footer-content h3:hover {
    color: #ccc;
    opacity: 0.2;
}

.footer-arriba p {
    color: #fff;
}

.falso {
    color: #fff;
    opacity: 0.2;
}

.footer-content {
    border-right-color: #ccc;
    border-left: 40px;
}

.pheading {
    text-align: center;
    margin: 50px 0;
    color: #424144;
}

.sesion {
    float: left;
}

#btn-sesion {
    color: #537b4f;

    border-color: #537b4f;
}

#btn-sesion:hover {
    color: #212529;
    background-color: #537b4f;
    border-color: #537b4f;
}

#log-in a {
    color: #537b4f;
    text-decoration: none;
}

#log-in .btn {
    color: white;
    width: 200px;
    border-radius: 0 0 0 0;
    background-color: #537b4f;
    border-color: #537b4f;
    border-style: none;
}

#log-in input {
    width: 300px;
    height: 45px;
}

.separador {
    height: 16px;
    /* Nuevo alto de la imagen */
    background-image: url(../img/icono-mini-gris.png);
    /* Ruta de la imagen */
    background-repeat: repeat-x;
    /* Repetir la imagen horizontalmente */
    background-size: 16px 16px;
    /* Nuevo tamaño de la imagen */
}

.formulario-log-in form {
    padding: 10%;
    background-color: white;

}

.contenedor-formulario {
    background-color: #212529;
}

.warnings {
    width: 200px;
    text-align: center;
    margin: auto;
    color: red;
    padding-top: 20px;
}

#uso-api {
    border-style: dashed;
}

.custom-caption {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 20px 20px 20px 20px;
    /* Valores para lograr esquinas redondeadas */
    max-width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

input.error,
.parsley-error {
    background-color: rgba(255, 0, 0, 0.1);

    border-color: red;
    color: red;
}

form li {
    list-style: none;
    color: red;
}


.input-larga {
    min-width: 90%;
    width: 90%;
    height: 30px;
}

.input-mediana {
    width: 80%;
    height: 30px;
}

.input-pequenna {
    min-width: 50px;
    width: 10%;
    height: 30px;
}

.container-tabla {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabla {
    border: 2px solid #212529;
    border-collapse: collapse;
}

.tabla th,
.tabla td {
    border: 2px solid #212529;
    padding: 8px;
}

.parrafo {
    margin: 40px;
}

.parrafo h2 {
    margin: 40px;
}