/*Estilos de Productos*/


.sec {
  padding: 10px 5%;

}

.productos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));

}

.productos .tarjeta {
  width: 312px;
  background: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 6px;
  margin-bottom: 20px;
  align-items: center;
}

.productos .tarjeta .img {
  height: 300px;
  width: 100%;

}

.productos .tarjeta .desc {
  padding: 5px 20px;
  opacity: 0.4;
}

.productos .tarjeta .titulo {
  font-weight: 900;
  font-size: 20px;
  color: #424144;
  padding: 0 20px;

}

.productos .tarjeta .box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.productos .tarjeta .box .precio {
  color: #537b4f;
  font-size: 20px;
  font-weight: bold;
}

.btn-add-cart {
  font-size: 13px;
  color: #537b4f;
  background-color: #fff;
  padding: 10px 18px;
  font-weight: 900;
  border: 1px solid #537b4f;
  border-radius: 20px;
}

.btn-add-cart:hover {
  cursor: pointer;
  background-color: #537b4f;
  color: white;
}

/*ESTILO MENU LATERAL*/
.floating-button {
  position: fixed;
  top: 80px; /* Ajusta el valor según la altura de tu barra de navegación */
  left: 10px;
  z-index: 9999;
  width: 50px;
  height: 50px;
  background-color: #537b4f;
  color: #fff;
  border: none;
  border-radius: 50%;
  font-size: 24px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}

.filter-menu {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100vh;
  background-color: #fff;
  z-index: 9998;
  transition: left 0.3s ease;
}

.filter-menu.open {
  left: 0;
}

.filter-menu-content {
  padding: 20px;
}
.active{
  display: none;
}
.filter-menu-content li{
  list-style: none;
}
.filter-menu-content input, label{
  font-size: large;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9997;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
}

.overlay.open {
  opacity: 1;
  visibility: visible;
}


/*carrito de compras*/

.item-carrito {
  display: list-item;

}

.item-carrito .compra {
  width: 100%;
  background: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 6px;
  margin-bottom: 20px;
  align-items: center;
}

.item-carrito .compra img {
  height: 100px;
  width: 100px;

}

.item-carrito .compra .desc {
  padding: 5px 20px;
  opacity: 0.4;
}

.item-carrito .compra .titulo {
  font-weight: 900;
  font-size: 20px;
  color: #424144;
  padding: 0 20px;

}

.item-carrito .compra .box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.item-carrito .compra .box .precio {
  color: #537b4f;
  font-size: 20px;
  font-weight: bold;
}

.item-carrito .botones .btn-eliminar {
  font-size: 13px;
  color: red;
  padding: 10px 18px;
  font-weight: 900;
  border: 1px solid red;
  border-radius: 20px;
}

.eliminar {
  margin-left: 89%;
  margin-bottom: 15%;
}

.sumador {

  margin-left: 67%;
  margin-bottom: 2%;
}

.item-carrito .botones .btn-eliminar:hover {
  cursor: pointer;
  background-color: red;
  color: white;
}

.item-carrito .botones .sumador-btn {
  display: none;
  font-size: 13px;
  color: mediumblue;
  padding: 10px 18px;
  font-weight: 900;
  border: 1px solid mediumblue;

}

.item-carrito .botones .mas {
  border-radius: 0 20px 20px 0;

}

.item-carrito .botones .menos {
  border-radius: 20px 0 0 20px
}

.item-carrito .botones .sumador-btn:hover {
  cursor: pointer;
  background-color: mediumblue;
  color: white;
}

.lista {
  margin-left: 12%;
}


/*estilos barra lateral
*/
.btn-menu {
  margin-bottom: 10px;
}

.menu-container {
  position: relative;
}

.menu-lateral {
  display: none;
  background-color: #f8f9fa;
  padding: 10px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.menu-lateral.show {
  display: block;
}

.menu-lateral h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.menu-lateral ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu-lateral li {
  margin-bottom: 5px;
}

.menu-lateral label {
  margin-right: 5px;
}

.tarjeta {
  display: block;
  margin-bottom: 20px;
}

#scrollButton {
  position: fixed;
  margin-top: 20px;
  margin-left: 20px;
  z-index: 997;
  border: none;
  background-color: #537b4f;
  color: #FFF;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#scrollButton i {
  font-size: 50px;
}

.notification {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  background-color: #f1f1f1;
  color: #333;
  border-radius: 4px;
  display: none;
}

/* Estilos para el detalle del producto */
.fondo-negro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
}

.detalle-producto {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 9999;
}

.btn-cerrar {
  position: absolute;
  top: 10px;
  right: 10px;
}